.banner {
    position: relative;
    background-image: linear-gradient(90deg, #F15F79 0%, #B24592 50%, #8E2E58 100%);
    height: 100vmin;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    &::after {
        content: '';
        width: 100vw;
        height: 100vmin;
        background-color: #ffffff;
        position: absolute;
        top: 0%;
        left: 0;
        clip-path: polygon(100% 68%, 0 100%, 100% 100%);
        max-width: 100%;
    }

    >h1 {
        margin: 5vmax;

        font: 600 2.5vmax "Roboto";
    }

    >p {
        font: 300 1.4vmax "Lucida Sans";
    }

    >a {
        background-color: rgba(255, 255, 255, 0);
        color: white;

        >button {
            margin-bottom: 5vmax;
            cursor: pointer;
            background-color: white;
            border: 1px solid white;
            border-radius: 0;
            padding: 1vmax;
            transition: all 0.5s;
            width: 9vmax;
            font: 500 1vmax "Roboto";

            &:hover {
                background-color: rgba(255, 255, 255, 0);
                color: white;
            }
        }
    }
}

.homeHeading {
    text-align: center;
    font-family: Roboto;
    font-size: 1.4vmax;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    width: 20vmax;
    padding: 1vmax;
    margin: 5vmax auto;
    color: rgb(0, 0, 0, 0.7);
}

.container {
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.productCard {
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;

    >img {
        width: 14vmax;
    }

    >div {
        margin: 0.5vmax;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    >p {
        font-size: 1.2vmax;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #333;
        border-bottom: 3px solid #3498db;
        padding-bottom: 10px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

        margin: 1vmax 0.5vmax;
        margin-bottom: 0;
    }

    >span {
        margin: 0.5vmax;
        color: tomato;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: 1vmax;
    }

    &:hover {
        box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

        transform: translateY(-1vmax);
    }
}

@media screen and (max-width: 600px) {
    .productCard>p {
        font-size: 1.7vmax;
    }

    .productCard>div {
        margin: 0vmax;
        display: block;
    }

    .productCard>span {
        font-size: 1.5vmax;
    }

    .productCard>div>span {
        margin: 0 0.5vmax;
        font: 300 1vmax "Roboto";
    }
}